.accordion {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.accordionItem {
  margin-bottom: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 100%;
  color: var(--theme-button-text);
}

.accordionItemButton {
  position: relative;
  z-index: 2;
  padding: 1.5rem 4rem 1.5rem 4rem;
  min-width: 100%;
  border: none;
  box-shadow: transparent;
  cursor: pointer;
  background-size: 90% 100%;
  background-repeat: no-repeat;
  background-position: center center; 
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: var(--faq-question-font);
}

.accordionItem:nth-of-type(3n-2) .accordionItemButton {
  background-image: var(--accordion-header-red-bg);
}
.accordionItem:nth-of-type(3n-1) .accordionItemButton {
  background-image: var(--accordion-header-blue-bg);
}
.accordionItem:nth-of-type(3n) .accordionItemButton {
  background-image: var(--accordion-header-yellow-bg);
}
.accordionItem:nth-of-type(4n) .accordionItemButton {
  background-image: var(--accordion-header-green-bg);
}

.accordionItemPanel {
  max-height: 0;
  overflow-y: hidden;
  font-weight: 600;
  padding: 0 1.5rem;
  font-family: var(--faq-answer-font);
  background-color: rgba(226, 226, 226, 0.9);
  background-image: var(--accordion-panel-bg);
  box-shadow: 0 3px 12px rgba(0,0,0,0.2);
  transform: translateY(-40px);
  transition: 0.25s ease;
  font-size: 14px;
}

.open .accordionItemPanel {
  max-height: 100rem;
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  font-weight: 600;
  margin-bottom: -1.5rem;
  font-family: var(--faq-answer-font);
  background-color: var(--description-bg-color);  
  color: var(--description-text-color);  

  background-image: var(--accordion-panel-bg);
  box-shadow: 0 8px 15px rgba(0,0,0,0.4);
  transform: translateY(-40px);
	transition: 0.3s ease;
}

.answer {
  opacity: 0;
  transition: 0.1s linear;
}

.open .answer {
  opacity: 1;
  transition: 0.1s linear;
}

@media (min-width: 480px) {
  .accordionItemButton {
    font-size: 20px;
  }
  .accordionItemPanel {
    font-size: 16px;
  }
}
