.accordion {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  transition: all 0.2s ease;
}

.accordionItem {
  margin-bottom: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 100%;
}

.accordionItemHeading {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: var(--faq-question-font);
  min-width: 100%;
}

.accordionItemButton {
  position: relative;
  z-index: 2;
  padding: 1.5rem 4rem 1.5rem 4rem;
  min-width: 100%;
  border: none;
  box-shadow: transparent;
  cursor: pointer;
  background-size: 90% 100%;
  background-repeat: no-repeat;
  background-position: center center; 
  text-align: center;
  font-size: 16px;
}

.accordionItem:nth-of-type(3n-2) .accordionItemButton {
  background-image: var(--accordion-header-red-bg);
  color: var(--theme-red-dark);
}
.accordionItem:nth-of-type(3n-1) .accordionItemButton {
  background-image: var(--accordion-header-blue-bg);
  color: var(--theme-blue-dark);
}
.accordionItem:nth-of-type(3n) .accordionItemButton {
  background-image: var(--accordion-header-yellow-bg);
  color: var(--theme-yellow-dark);
}

.accordionItemPanel {
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  margin-bottom: -1.5rem;
  line-height: 1.5;
  font-size: 14px;
  font-family: var(--faq-answer-font);
  background-color: rgba(226, 226, 226, 0.9);
  background-image: var(--accordion-panel-bg);
  box-shadow: 0 8px 15px rgba(0,0,0,0.4);
  transform: translateY(-40px);
  -webkit-animation: fadein 0.5s ease initial; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s ease; /* Firefox < 16 */
        -ms-animation: fadein 0.5s ease; /* Internet Explorer */
         -o-animation: fadein 0.5s ease; /* Opera < 12.1 */
            animation: fadein 0.5s ease;
}

@media (min-width: 480px) {
  .accordionItemButton {
    font-size: 20px;
  }
  .accordionItemPanel {
    font-size: 16px;
  }
}

@keyframes fadein {
  from {transform:translateY(-70px); opacity: 0;}
  to {transform:translateY(-40px); opacity: 1;}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {transform:translateY(-70px); opacity: 0;}
  to {transform:translateY(-40px); opacity: 1;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {transform:translateY(-70px); opacity: 0;}
  to {transform:translateY(-40px); opacity: 1;}
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {transform:translateY(-70px); opacity: 0;}
  to {transform:translateY(-40px); opacity: 1;}
}
