.main{
  overflow: visible;
  width: 100%;
  margin: 0 20px;
  padding-bottom: min(12vh, 300px);
  padding-top: min(12vh, 300px);
  background-color: var(--theme-offwhite);
  background-image: var(--container-bg);
}