.main{
  overflow: visible;
  width: 100%;
  padding: 0 10%;
  padding-bottom: min(12vh, 300px);
  padding-top: 10%;
  background-color: var(--theme-offwhite);
  background-image: var(--container-bg);
}