/* CSS for polaroids in PastWinners */
-color.flipContainer {
  perspective: 400px;
  position: relative;
  margin: 1rem;
}

.flipContainer:hover .flipper,
.flipContainer.hover .flipper {
  transform: rotateY(180deg);
}

.flipContainer,
.front,
.back {
  height: 240px;
  width: 260px;
}
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: var(--card-bg-color);
  border: 1px solid var(--card-border-color);
  box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.1);
}
.flipper {
  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s;
}

.front {
  z-index: 2;
  transform: rotateY(0deg); /* for Firefox 31 */
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: rotateY(180deg);
}

.frontTitle {
  margin-top: 4px;
  line-height: 1;
  font-size: 24px;
  font-family: var(--card-front-font);
}
.caption {
  margin-top: -16px;
  font-size: 16px;
  font-family: var(--card-caption-font);
}
.doodle{
  height: 40px;
  width: 40px;
}
.backTitle {
  font-size: 14px;
  font-family: var(--card-back-font);
}
.description {
  margin-top: 0;
  font-size: 10px;
  font-family: var(--card-description-font);
}

/* For responsive layouts */
@media (min-width: 480px) {
  .flipContainer,
  .front,
  .back {
    height: 340px;
    width: 360px;
  }
  .frontTitle {
    font-size: 36px;
  }
  .caption {
    margin-top: -26px;
    font-size: 22px;
  }
  .backTitle {
    font-size: 22px;
  }
  .description {
    margin-top: -14px;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .flipContainer,
  .front,
  .back {
    height: 430px;
    width: 480px;
  }
  .frontTitle {
    font-size: 44px;
  }
  .caption {
    margin-top: -32px;
    font-size: 24px;
  }
  .doodle{
    height: 75px;
    width: 75px;
  }
  .backTitle {
    font-size: 24px;
  }
  .description {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .flipContainer,
  .front,
  .back {
    height: 340px;
    width: 360px;
  }
  .frontTitle {
    font-size: 40px;
  }
  .caption {
    margin-top: -32px;
    font-size: 22px;
  }
  .backTitle {
    font-size: 22px;
  }
  .description {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  .flipContainer,
  .front,
  .back {
    height: 320px;
    width: 360px;
  }
  .frontTitle {
    margin-top: 8px;
    font-size: 32px;
  }
  .caption {
    margin-top: -24px;
    font-size: 18px;
  }
  .backTitle {
    font-size: 18px;
  }
  .description {
    font-size: 14px;
  }
}

@media (min-width: 1920px) {
  .flipContainer,
  .front,
  .back {
    height: 380px;
    width: 420px;
  }
  .frontTitle {
    margin-top: 8px;
    font-size: 40px;
  }
  .caption {
    margin-top: -32px;
    font-size: 24px;
  }
  .backTitle {
    font-size: 24px;
  }
  .description {
    font-size: 16px;
  }
}
