-color.flipContainer {
  margin: 1rem;
  perspective: 400px;
  position: relative;
  
}
.flipContainer:hover .flipper,
.flipContainer.hover .flipper {
  transform: rotateY(180deg);
}

.flipContainer,
.front,
.back {
  width: 400px;
  height: 500px;
}
.front,
.back {
  backface-visibility: hidden;
  border: 1px solid var(--card-border-color);
  background-color: var(--card-bg-color);
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.1);
}
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}