/* CSS for polaroids in PastWinners */
-color.flipContainer {
  perspective: 400px;
  position: relative;
  margin: 1rem;
}

.flipContainer:hover .flipper,
.flipContainer.hover .flipper {
  transform: rotateY(180deg);
}

.flipContainer,
.front,
.back {
  height: 280px;
  width: 300px;
}
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: var(--card-bg-color);
  border: 1px solid var(--card-border-color);
  box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.1);
}
.flipper {
  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s;
}

.front {
  z-index: 2;
  transform: rotateY(0deg); /* for Firefox 31 */
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: rotateY(180deg);
}

.frontTitle {
  margin-top: 10px;
  line-height: 1;
  font-size: 24px;
  font-family: var(--card-front-font);
}
.caption {
  margin-top: -16px;
  font-size: 16px;
  font-family: var(--card-caption-font);
}
.doodle{
  height: 50px;
  width: 50px;
}
.backTitle {
  font-size: 16px;
  font-family: var(--card-back-font);
}
.description {
  margin-top: 0;
  font-size: 12px;
  font-family: var(--card-description-font);
}

/* For responsive layouts */
@media (min-width: 360px) {
  .flipContainer,
  .front,
  .back {
    height: 290px;
    width: 310px;
  }
  .frontTitle {
    font-size: 26px;
  }
}

@media (min-width: 480px) {
  .flipContainer,
  .front,
  .back {
    height: 340px;
    width: 360px;
  }
  .frontTitle {
    font-size: 36px;
  }
  .caption {
    margin-top: -26px;
    font-size: 22px;
  }
  .backTitle {
    font-size: 22px;
  }
  .description {
    margin-top: -14px;
    font-size: 14px;
  }
}

@media (min-width: 720px) {
  .flipContainer,
  .front,
  .back {
    height: 530px;
    width: 580px;
  }
  .frontTitle {
    font-size: 48px;
  }
  .caption {
    margin-top: -32px;
    font-size: 28px;
  }
  .backTitle {
    font-size: 32px;
  }
  .description {
    font-size: 20px;
  }
}

@media (min-width: 920px) {
  .flipContainer,
  .front,
  .back {
    height: 310px;
    width: 330px;
  }
  .frontTitle {
    font-size: 34px;
  }
  .caption {
    margin-top: -24px;
    font-size: 22px;
  }
  .backTitle {
    font-size: 22px;
  }
  .description {
    margin-top: -14px;
    font-size: 14px;
  }
}

@media (min-width: 1080px) {
  .flipContainer,
  .front,
  .back {
    height: 360px;
    width: 390px;
  }
  .doodle{
    height: 75px;
    width: 75px;
  }
  .frontTitle {
    font-size: 38px;
  }
  .caption {
    margin-top: -30px;
    font-size: 24px;
  }
  .backTitle {
    font-size: 24px;
  }
  .description {
    font-size: 16px;
  }
}

@media (min-width: 1140px) {
  .flipContainer,
  .front,
  .back {
    height: 380px;
    width: 420px;
  }
  .frontTitle {
    font-size: 40px;
  }
  .caption {
    margin-top: -36px;
    font-size: 24px;
  }
  .backTitle {
    font-size: 24px;
  }
  .description {
    font-size: 16px;
  }
}

@media (min-width: 1280px) {
  .flipContainer,
  .front,
  .back {
    height: 270px;
    width: 320px;
  }
  .frontTitle {
    margin-top: 4px;
    font-size: 20px;
  }
  .caption {
    margin-top: -14px;
    font-size: 14px;
  }
  .backTitle {
    font-size: 16px;
  }
  .description {
    margin-top: -6px;
    font-size: 11px;
  }
}

@media (min-width: 1440px) {
  .flipContainer,
  .front,
  .back {
    height: 320px;
    width: 360px;
  }
  .frontTitle {
    margin-top: 8px;
    font-size: 26px;
  }
  .caption {
    margin-top: -16px;
    font-size: 16px;
  }
  .backTitle {
    font-size: 18px;
  }
  .description {
    font-size: 13px;
  }
}

@media (min-width: 1680px) {
  .flipContainer,
  .front,
  .back {
    height: 370px;
    width: 430px;
  }
  .doodle{
    height: 100px;
    width: 100px;
  }
  .backTitle {
    font-size: 22px;
  }
  .description {
    font-size: 16px;
  }
}

@media (min-width: 1920px) {
  .flipContainer,
  .front,
  .back {
    height: 460px;
    width: 520px;
  }
  .frontTitle {
    margin-top: 12px;
    font-size: 38px;
  }
  .caption {
    margin-top: -24px;
    font-size: 22px;
  }
  .backTitle {
    font-size: 26px;
  }
  .description {
    font-size: 18px;
  }
}
