/* Container for entire page */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--theme-white);
  background-image: var(--container-bg);
}
/* Container for each section */
.main {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Footer CSS */
.footer {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  /*border-top: 1px solid #eaeaea;*/
  background: var(--theme-white);
  background-image: var(--footer-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--footer-font);
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.footer div {
  display: inline-flex;
}

.contactlink a:hover {
  color: var(--theme-blue);
  cursor: pointer;
}

/* Social Media CSS */

.contact a {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 50px;
}

.contact a:nth-of-type(1) {
  color: var(--theme-blue);
}
.contact a:nth-of-type(2) {
  color: var(--theme-red);
}
.contact a:nth-of-type(3) {
  color: var(--theme-yellow);
}

.contact a:hover {
  color: var(--theme-black);
  cursor: pointer;
}

/* Title styles */
.title a {
  color: var(--title-a-color);
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1;
  font-size: 100px;
  color: var(--title-color);
  font-family: var(--heading-font);
  font-weight: bold;
}

.title,
.description {
  text-align: left;
}
/* Description Styles */
.description {
  line-height: 30px;
  font-weight: 500;
  font-size: 18px;
}

.code {
  background: var(--code-color);
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
/* Cards that are not part of information section */
.grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  /*margin-right: 1rem;
  margin-bottom: 1rem;*/
  padding: 0 2rem 2rem 0;
  width: 25rem;
  height: 10rem;
  line-height: 10rem;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  /*border: 1px solid var(--common-card-border-color);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;*/
  background-image: var(--button-red-bg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  color: var(--theme-red-light);
  font-family: var(--button-font);
}

.card:nth-of-type(2) {
  background-image: var(--button-blue-bg);
  color: var(--theme-blue-light);
}

.card:nth-of-type(3) {
  background-image: var(--button-yellow-bg);
  color: var(--theme-yellow-dark);
}
/*
.card:hover,
.card:focus,
.card:active {
  color: var(--common-card-hover-color);
  border-color: var(--common-card-hover-color);
  cursor: pointer;
}
*/
.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}
/* Mobile stuff */
@media (max-width: 1280px) {
  .main{
    max-width: 100%;
    padding: 0 30px;
    margin: 0;
  }
  .introduction{
    flex-direction: column;
    align-items: unset;
  }
  .grid {
    min-width: 100%;
    flex-direction: column;
  }
  .card{
    width: 100%;
  }
  .infogrid
  {
    margin-left: 0;
  }
}
