/* Container for entire page */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-offwhite);
  background-image: var(--container-bg);
}

/* Container for each section */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

/* Footer CSS */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 1.5rem;
  background-size: cover;
  background-position: left;
  background-color: var(--theme-white);
  background-image: var(--footer-bg);
  text-align: center;
  font-size: 16px;
  font-family: var(--footer-font);
  cursor: default;
}

.footer div {
  display: inline-flex;
}

/* Social Media CSS */
.contact a {
  margin: 0 10px;
  font-size: 45px;
}

.contact a:nth-of-type(1) {
  color: var(--theme-blue);
}
.contact a:nth-of-type(2) {
  color: var(--theme-red);
}
.contact a:nth-of-type(3) {
  color: var(--theme-yellow);
}

.contact a:hover {
  color: var(--theme-black);
  cursor: pointer;
}

.contactlink a {
  padding-bottom: 1rem;
  font-family: var(--footer-font);
}

.contactlink a:hover {
  color: var(--theme-red);
  cursor: pointer;
}

/* Title styles */
.title a {
  text-decoration: none;
  color: var(--title-a-color);
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1;
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 44px;
  color: var(--title-color);
  -webkit-text-fill-color: var(--title-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--title-color);
}

.title,
.description {
  text-align: left;
}

/* Description styles */
.description {
  padding: 2rem;
  border-radius: 3px;
  line-height: 30px;
  font-weight: 600;
  font-size: 14px;
  color: var(--description-text-color);  
  background-color: var(--description-bg-color);  
  background-image: var(--accordion-panel-bg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

.code {
  padding: 0.75rem;
  border-radius: 5px;
  background: var(--code-color);
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

/* Cards that are not part of information section */
.grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  vertical-align: middle;
  height: 7rem;
  width: 21rem;
  padding: auto 0;
  background-image: var(--button-red-bg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  text-decoration: none;
  line-height: 7rem;
  font-family: var(--button-font);
  color: var(--theme-offwhite);
}

.card:nth-of-type(2) {
  color: var(--theme-blue-light);
  background-image: var(--button-blue-bg);
}

.card:nth-of-type(3) {
  color: var(--theme-yellow-dark);
  background-image: var(--button-yellow-bg);
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
}

.card p {
  margin: 0;
  line-height: 1.5;
  font-size: 1.25rem;
}

.logo {
  height: 1em;
}

/* Animations */
@keyframes wiggle {
  0% { transform: rotate(0deg); }
 80% { transform: rotate(0deg); }
 85% { transform: rotate(3deg); }
 95% { transform: rotate(-3deg); }
100% { transform: rotate(0deg); }
}
.wiggle{
  animation: wiggle 2s infinite;
}
.wiggle:hover {
  animation:none;
}

/* For responsive layouts */
@media (min-width: 420px) {
  .title {
    font-size: 54px;
  }
  .card {
    height: 8rem;
    width: 22rem;
    line-height: 8rem;
  }
  .card h3 {
    font-size: 1.3rem;
  }
}

@media (min-width: 480px) {
  .title {
    font-size: 64px;
  }
  .description {
    font-size: 18px;
  }
}

@media (min-width: 720px) {
  .title {
    font-size: 84px;
  }
  .card {
    height: 10rem;
    width: 25rem;
    line-height: 10rem;
  }
  .card h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 840px) {
  .title {
    font-size: 100px;
  }
}

@media (max-width: 1280px) {
  .main {
    max-width: 100%;
    margin: 0;
    padding: 0 30px;
  }
  .introduction {
    flex-direction: column;
    align-items: unset;
  }
  .grid {
    flex-direction: column;
    min-width: 100%;
  }
  .card {
    width: 100%;
  }
  .infogrid {
    margin-left: 0;
  }
}
