.main {
  z-index: 0;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-image: var(--faq-bg);
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

@screen sm {
  .wrapper {
    width: 70%;
    margin-left: 10%;
  }
}

@screen md {
  .wrapper {
    width: 60%;
    margin-left: 10%;
  }
}

@screen lg {
  .wrapper {
    width: 55%;
    margin-left: 12%;
  }
}

@screen xl {
  .wrapper {
    width: 50%;
    margin-left: 15%;
  }
}

