/* CSS for FAQ section */
.main {
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  min-height: 100vh;
  width: 100vw;
  padding-top: 10rem;
  background-image: var(--faq-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}

/* Image to the side of accordion */
.strips{
  flex: 1;
  display: none;
}
.image{
  height: 1200px;
  width: 800px;
  background-image: url("../public/assets/strips.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* For responsive layouts */
@media (min-width: 1024px) {
  .wrapper {
    margin-left: 5%;
  }
  .strips{
    display: flex;
  }
}
