.main {
  z-index: 0;
  min-height: 100vh;
  width: 100vw;
  padding-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  background-image: var(--faq-bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.strips{
  flex: 1;
}
.image{
  background-image: url("../public/assets/strips.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  width: 600px;
  height: 1200px;
}

@media (min-width: 640px) {
  .wrapper {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .wrapper {
    width: 75%;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    width: 55%;
    margin-left: 12%;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    width: 50%;
    margin-left: 15%;
  }
  
}

