.main {
  z-index: 0;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: var(--faq-bg);
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1280px) {
  .wrapper{
    width: 100%;
    padding: 0 30px;
  }
}

