html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--html-body-bg);
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* From package what-input to remove default focus border because its ugly */
[data-whatinput="mouse"] :focus,
[data-whatinput="touch"] :focus {
  outline: none;
}

/*react-scroll classes applied to navbar*/
.active {
  transform: translateY(0px) !important;
  border-bottom: 10px solid var(--globals-active-color);
}

.link {
  padding: 1rem 1.5rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transform: translateY(10px);
  transition: all 0.25s ease;
  border-bottom: 10px solid var(--globals-link-color);
  box-shadow: 0 -10px 15px -3px rgba(0, 0, 0, 0.1),
    0 -4px 6px -2px rgba(0, 0, 0, 0.05);
}

.link:hover {
  transform: translateY(0px);
  border-bottom: 10px solid var(--globals-link-hover-color);
}
