/* Theme Colors (Ctrl+F to find and replace)
    First layer - #57ddd4
    Second layer - #ff6b6b
    Hover color - #085853
*/

/* Container for each section */
.main {
    position: relative;
    z-index: 0;
    min-height: 50vh;
    margin: 10rem 5rem;
    padding: 5rem;
    max-width: min(90vw, 1200px);
    border-bottom: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #ff6b6b;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");  
    border-radius: .2rem;
    box-shadow: 4px 4px 5px 3px rgba(0, 0, 0, 0.4);
}

.main::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: -1rem;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform: skewY(-1deg);
    background-color: #57ddd4;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    border-radius: .2rem;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.4);
}