/* Container for each section */
.main {
    min-height: 100vh;
    max-width: min(90vw, 1200px);
    border-bottom: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn{
    background-color: #ff6b6b;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");  
}