/* Container for each section */
.main {
    position: relative;
    z-index: 0;
    min-height: 50vh;
    margin: 10rem 5rem;
    padding: 5rem;
    max-width: min(90vw, 1200px);
    border-bottom: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--hero-bottom-color);
    background-image: var(--hero-texture);
    border-radius: .2rem;
    box-shadow: 4px 4px 20px 3px rgba(0, 0, 0, 0.4);
}

.main::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: -1rem;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform: skewY(-1deg);
    background-color: var(--hero-top-color);
    background-image: var(--hero-texture);
    border-radius: .2rem;
    box-shadow: 3px 3px 20px 3px rgba(0, 0, 0, 0.4);
}