/* Container for each section */
.wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.calendar {
    min-width: 55%;
    margin-left: -15%;
    display: none;
}

.text{
    margin-left: auto;
    margin-right: auto;
}

@screen lg {
    .calendar {
        display: block;
    }
}

@screen xl {
    .wrapper {
        max-width: 90%;
    }
}