/* CSS for landing page */
.main {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  padding-top: 5rem;
  text-align: center;
  background-image: var(--landing-bg);
  background-size: cover;
  background-position: right 50% bottom 120px;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
}

.grid {
  flex-direction: column;
}

.card {
  align-self: center;
  height: 6rem;
  width: 15rem;
  margin: 0 0.5rem;
  line-height: 6rem;
  filter: drop-shadow(0 0 0.2rem rgb(51, 51, 51));
  cursor: pointer;
}

.card h3 {
  font-size: 1.1rem;
  color: white;
}

.logo {
  display: none;
  margin: 30% 0 0 0;
}

.text {
  text-align: left;
  color: var(--theme-black);
}

.title {
  margin-top: -22px;
  margin-bottom: -32px;
  font-size: 36px;
  font-family: var(--landing-title-font);
  
}

.subtitle {
  font-size: 42px;
  font-family: var(--landing-subtitle-font);
  color: var(--title-color);
  -webkit-text-fill-color: var(--title-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--title-color);
}

.caption {
  margin-top: 36px;
  margin-bottom: -8px;
  font-size: 24px;
}

.caption:after {
  content: ""; 
  display: block; 
  width: 50%; 
  padding-top: 20px;
  border-bottom: 2px solid var(--theme-black); 
}

.date {
  font-size: 20px;
}

@media (min-width: 370px) {
  .card {
    height: 7rem;
    width: 15rem;
    line-height: 7rem;
  }
  .card h3 {
    font-size: 1.2rem;
  }
}

@media (min-width: 420px) {
  .title {
    margin-top: -32px;
    font-size: 50px;
  }
  .subtitle {
    font-size: 60px;
  }
  .caption {
    font-size: 28px;
  }
  .date {
    font-size: 22px;
  }
  .card {
    height: 10rem;
    width: 20rem;
    line-height: 10rem;
  }
  .card h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 640px) {
  .grid {
    flex-direction: row;
  }
  .logo {
    display: block;
  }
  .title {
    margin-top: -10px;
  }
  .card {
    height: 10rem;
    width: 17rem;
    line-height: 10rem;
  }
  .card h3 {
    font-size: 1.4rem;
  }
}

@media (min-width: 720px) {
  .title {
    font-size: 64px;
  }
  .subtitle {
    font-size: 72px;
  }
  .caption {
    font-size: 34px;
  }
  .card {
    height: 10rem;
    width: 20rem;
    line-height: 10rem;
  }
  .card h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 72px;
  }
  .subtitle {
    font-size: 84px;
  }
  .card {
    height: 10rem;
    width: 22rem;
    line-height: 10rem;
  }
  .card h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 840px) {
  .card {
    width: 25rem;
  }
}

@media (min-width: 1280px) {
  .main {
    background-position: right 50% bottom 40%;
  }
}

@media (min-width: 1536px) {
  .main {
    background-position: right 50% bottom 45%;
  }
}