.main {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    text-align: center;
    background-image: url("../public/assets/3.png");
    background-size: cover;
    background-position: center;
  }

  .title{
    font-size: 96px;
  }
  .subtitle{
    font-size: 40px;
  }

