.main {
  min-height: 100vh;
  width: 100vw;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  text-align: center;
  background-image: var(--landing-bg);
  background-size: cover;
  background-position: right 50% bottom 120px;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
}

.logo {
  margin: 30% 0 0 0;
  display: none;
}

.text {
  text-align: left;
  color: var(--theme-black);
}

.title {
  margin-top: -10px;
  margin-bottom: -32px;
  font-size: 54px;
  font-family: var(--landing-title-font);
}

.subtitle {
  font-size: 72px;
  font-family: var(--landing-subtitle-font);
}

.caption {
  margin-bottom: -8px;
  font-size: 32px;
}

.caption:after {
  content: ""; 
  display: block; 
  width: 50%; 
  padding-top: 20px;
  border-bottom: 2px solid var(--theme-black); 
}

.date {
  font-size: 24px;
}

@media (min-width: 640px) {
  .title {
    margin-top: -10px;
    font-size: 72px;
  }

  .subtitle {
    margin-top: 50px;
    font-size: 84px;
  }
}

@media (min-width: 768px) {
  .logo {
    display: block;
  }
}

@media (min-width: 1280px) {
  .main {
    background-position: right 50% bottom 40%;
  }
}

@media (min-width: 1536px) {
  .main {
    background-position: right 50% bottom 45%;
  }
}