.navwrapper{
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-image: var(--nav-bg);
  background-size: cover;
  background-position: bottom;
  font-family: var(--nav-font);
}

.navigation {
  display: flex;
  margin: 1.5rem 1rem;
  padding: 1rem;
  justify-content: space-between;
}

.navlistcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navlistlink {
  list-style: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin: auto;
  padding: 0;
  text-align: center;
  display: none;
}  

.navlogo{
  list-style: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}

.navsignup {
  list-style: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin: auto;
  padding: 0;
  display: block;
}

/* CSS for responsive layout */
@screen sm {
  .navigation {
    justify-content: center;
  }

  .navlistlink {
    display: block;
  }  

  .navsignup {
    display: none;
  }
}