.navlistcontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navlistlink {
  list-style: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}
.navlistlink a {
  display: inline-block;
  margin: -1rem 0 !important;
}
/* Styling for Home tab */
.home a,
.home a::before,
.home a::after {
  background: #57ddd4 !important;
}

/* Styling for Winners tab */
.winners a,
.winners a::before,
.winners a::after {
  background: #FCD369 !important;
}

/* Styling for Faq tab */
.faq a,
.faq a::before,
.faq a::after {
  background: #ff9f80 !important;
}

/* Styling for Help tab */
.help a,
.help a::before,
.help a::after {
  background: #f56991 !important;
}

/* Styling for Sponsors tab */
.sponsors a,
.sponsors a::before,
.sponsors a::after {
  background: #708092 !important;
}

/* General styling for tabs */
/* .navlistcontainer a {
  position: relative;
  padding: 1em 2em;
  border-radius: 10px 10px 0 0;
}

.navlistcontainer a::before {
  content: '';
  position: absolute;
  z-index: -2;
  top: 0;
  left: -.8em;
  bottom: 0;
  transform: skew(-15deg);
  border-radius: 10px 0 0 0;
}

.navlistcontainer a::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: -.8em;
  bottom: 0;
  transform: skew(15deg);
  border-radius: 0 10px 0 0;
  box-shadow: 8px 3.2px 5px -6px rgba(0, 0, 0, 0.6);
} */