.main {
  z-index: 0;
  min-height: 100vh;
  margin: 0rem 0rem 6rem 0rem;
  padding: 8rem 5rem 0rem 5rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cardContainer{
  display:flex;
  flex-direction: column;
}

.section {
  display: flex;
  margin: 20px 0 20px 0;
}

.first{
  transform: rotate(-5deg);
}
.second{
  transform: rotate(2deg);
}
.third{
  transform: rotate(-5deg) translateY(20px);
}
.fourth{
  transform: rotate(5deg);
}
.fifth{
  transform: rotate(-5deg) translateY(-20px);
}
.sixth{
  transform: rotate(5deg);
}

@media (max-width: 1280px) {
  .section{
    flex-direction: column;
  }
  .first,.second,.third,.fourth,.fifth,.sixth{
    transform: rotate(0deg) translateY(0px);
  }
  
}