.main {
  z-index: 0;
  min-height: 100vh;
  margin: 0rem 0rem 6rem 0rem;
  padding: 8rem 5rem 0rem 5rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: var(--winners-bg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cell {
  padding: 2rem 1.5rem;
}
/* First image */
.cell:nth-of-type(1){
  max-width: 80%;
  background-image: url("../public/assets/paper.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(-12deg);
}

.text {
  padding: 10% 10%;
  font-family: "Caveat";
  font-size: 16px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* Last image (filler) */
.cell:nth-of-type(8){
  display: none;
  margin: auto 0;
  opacity: 0;
}

.cell:nth-of-type(2){
  transform: rotate(4deg);
}
.cell:nth-of-type(3){
  transform: rotate(-6deg);
}
.cell:nth-of-type(4){
  transform: rotate(2deg);
}
.cell:nth-of-type(5){
  transform: rotate(-4deg);
}
.cell:nth-of-type(6){
  transform: rotate(3deg);
}
.cell:nth-of-type(7){
  transform: rotate(-5deg);
}

@media (min-width: 480px) {
  .text {
    padding: 35% 10%;
    font-size: 24px;
  }
  .cell:nth-of-type(1){
    max-width: 80%;
  }
}

@media (min-width: 720px) {
  .text {
    padding: 30% 15%;
    font-size: 24px;
  }
  .cell:nth-of-type(1){
    max-width: 65%;
  }
}

@media (min-width: 840px) {
  .text {
    padding: 30% 15%;
    font-size: 28px;
  }
  .cell:nth-of-type(1){
    max-width: 55%;
  }
}

@media (min-width: 1024px) {
  .text {
    padding: 40% 15%;
    font-size: 28px;
  }
  .cell:nth-of-type(1){
    max-width: 50%;
  }
}

@media (min-width: 1080px) {
  .text {
    padding: 40% 15%;
    font-size: 28px;
  }
  .cell {
    padding: 2rem;
  }
  .cell:nth-of-type(1){
    max-width: 45%;
  }
}

@media (min-width: 1280px) {
  .text {
    padding: 35% 15%;
    font-size: 22px;
  }
  .cell:nth-of-type(1){
    max-width: 30%;
  }
  .cell:nth-of-type(8){
    display: block;
  }
}

@media (min-width: 1440px) {
  .text {
    padding: 35% 15%;
    font-size: 22px;
  }
  .cell {
    padding: 3rem;
  }
  .cell:nth-of-type(1){
    max-width: 27%;
  }
  .cell:nth-of-type(2){
    transform: rotate(4deg);
  }
  .cell:nth-of-type(3){
    transform: rotate(-6deg) translateY(10px);
  }
  .cell:nth-of-type(4){
    transform: rotate(2deg);
  }
  .cell:nth-of-type(5){
    transform: rotate(4deg);
  }
  .cell:nth-of-type(6){
    transform: rotate(-5deg) translateY(-10px);
  }
  .cell:nth-of-type(7){
    transform: rotate(2deg);
  }
}

@media (min-width: 1680px) {
  .text {
    padding: 35% 15%;
    font-size: 22px;
  }
  .cell {
    padding: 2rem;
  }
  .cell:nth-of-type(1){
    max-width: 25%;
  }
}

@media (min-width: 1800px) {
  .text {
    padding: 35% 15%;
    font-size: 22px;
  }
  .cell:nth-of-type(1){
    max-width: 20%;
  }
}

@media (min-width: 1920px) {
  .text {
    padding: 30% 15%;
    font-size: 28px;
  }
  .cell {
    padding: 2rem;
  }
  .cell:nth-of-type(1){
    max-width: 25%;
  }
}

@media (min-width: 2100px) {
  .text {
    padding: 40% 10%;
    font-size: 30px;
  }
  .cell {
    padding: 2.5rem;
  }
  .cell:nth-of-type(1){
    max-width: 22%;
  }
}

@media (min-width: 2560px) {
  .text {
    padding: 40% 10%;
    font-size: 36px;
  }
  .cell {
    padding: 1rem 2.5rem;
  }
}