/* Theme Colors (Ctrl+F to find and replace)
    Main background - #c7f464
*/

.main {
  position: relative;
  z-index: 0;
  min-height: 100vh;
  margin: 0rem 0rem 6rem 0rem;
  padding: 8rem 5rem 0rem 5rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: -50rem; /* Arbritrary large value to fill width of screen */
  bottom: 0;
  width: 400%; /* Arbritrary large value to fill width of screen */
  height: 100%;
  background-color: #FCD369;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
  transform-origin: center;
  transform: skewY(2deg);
  box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.4);
}

.cardContainer{
  display:flex;
  flex-direction: column;
}

.section {
  display: flex;
  margin: 20px 0 20px 0;
}

.first{
  transform: rotate(-5deg);
}
.second{
  transform: rotate(2deg);
}
.third{
  transform: rotate(-5deg) translateY(20px);
}
.fourth{
  transform: rotate(5deg);
}
.fifth{
  transform: rotate(-5deg) translateY(-20px);
}
.sixth{
  transform: rotate(5deg);
}

@media (max-width: 1068px) {
  .section{
    flex-direction: column;
  }
  .first,.second,.third,.fourth,.fifth,.sixth{
    transform: rotate(0deg) translateY(0px);
  }
  
}