.main {
  z-index: 0;
  min-height: 100vh;
  margin: 0rem 0rem 6rem 0rem;
  padding: 8rem 5rem 0rem 5rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: var(--winners-bg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cell {
  padding: 2rem 1.5rem;
}
/* First image */
.cell:nth-of-type(1){
  display: none;
  margin: auto 0;
}
/* Last image */
.cell:nth-of-type(8){
  display: none;
  margin: auto 0;
  opacity: 0;
}

.cell:nth-of-type(2){
  transform: rotate(4deg);
}
.cell:nth-of-type(3){
  transform: rotate(-6deg);
}
.cell:nth-of-type(4){
  transform: rotate(2deg);
}
.cell:nth-of-type(5){
  transform: rotate(-4deg);
}
.cell:nth-of-type(6){
  transform: rotate(3deg);
}
.cell:nth-of-type(7){
  transform: rotate(-5deg);
}

@media (min-width: 1536px) {
  .cell:nth-of-type(1){
    display: block;
  }
  .cell:nth-of-type(8){
    display: block;
  }
  .cell:nth-of-type(2){
    transform: rotate(4deg);
  }
  .cell:nth-of-type(3){
    transform: rotate(-6deg) translateY(10px);
  }
  .cell:nth-of-type(4){
    transform: rotate(2deg);
  }
  .cell:nth-of-type(5){
    transform: rotate(4deg);
  }
  .cell:nth-of-type(6){
    transform: rotate(-5deg) translateY(-10px);
  }
  .cell:nth-of-type(7){
    transform: rotate(2deg);
  }
}