.main {
  z-index: 0;
  min-height: 100vh;
  min-width: 100vw;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: var(--sponsors-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}

.card {
  margin: 0 0.5rem;
  width: 15rem;
  height: 6rem;
  line-height: 6rem;
  align-self: center;
}

.card h3 {
  font-size: 1.1rem;
}

.card:nth-of-type(1) {
  background-image: var(--button-pink-bg);
  color: var(--theme-pink-dark);
}

@media (min-width: 370px) {
  .card {
    width: 15rem;
    height: 7rem;
    line-height: 7rem;
  }
  .card h3 {
    font-size: 1.2rem;
  }
}

@media (min-width: 420px) {
  .card {
    width: 20rem;
    height: 10rem;
    line-height: 10rem;
  }
  .card h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 640px) {
  .card {
    width: 15rem;
    height: 7rem;
    line-height: 7rem;
  }
  .card h3 {
    font-size: 1.3rem;
  }
}

@media (min-width: 720px) {
  .card {
    width: 20rem;
    height: 10rem;
    line-height: 10rem;
  }
  .card h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 20rem;
    height: 10rem;
    line-height: 10rem;
  }
  .card h3 {
    font-size: 1.3rem;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    max-width: 100%;
  }
  .card {
    width: 20rem;
    height: 12rem;
    line-height: 12rem;
    align-self: flex-end;
  }
  .card:nth-of-type(1) {
    margin-right: -10rem;
  }
}

@media (min-width: 1440px) {
  .card {
    width: 25rem;
    height: 10rem;
    line-height: 10rem;
  }
  .card h3 {
    font-size: 1.5rem;
  }
}