:root {
    /* Main theme colors */
    --theme-red: #AB3030;
    --theme-red-light: #ee8f8f;
    --theme-red-dark: #2e0000;
    --theme-pink-dark: #d16b6b;
    --theme-blue: #1A6C82;
    --theme-blue-light: #86bac9;
    --theme-blue-dark: #071b30;
    --theme-yellow: #FCD369;
    --theme-yellow-dark: #af690d;
    --theme-offwhite: #e0d0b0;
    --theme-white: #fff;
    --theme-black: #2F3132;
    --phage-color: #9CC8C0;
    --theme-beige: #f1d2ab;
    --theme-beige-light: #deb88a;
    --theme-button-text: rgb(14, 14, 14);
    --theme-brown: #ccb87f;
    
    /* Background colors */
    --description-bg-color:  #74b5b5cc;
    --description-text-color:  #1e1e1e;

    /* Background images */
    --nav-bg: url(../public/assets/wrinkled.webp);
    --container-bg: url("../public/assets/natural-paper.png");
    --footer-bg: url("../public/assets/wrinkled.png");
    --landing-bg: url("../public/assets/landing.webp");
    --hero-bg: url("../public/assets/4.png");
    --winners-bg: url("../public/assets/winners.webp");
    --faq-bg: url("../public/assets/faq.png");
    --volunteer-bg: url("../public/assets/get\ involved.png");
    --sponsors-bg: url("../public/assets/sponsors.png");
    --team-bg: url("../public/assets/people.webp");

    /* Images for accordion buttons */
    --accordion-header-red-bg: url("../public/assets/Faq\ tapes/red\ thick.png");
    --accordion-header-blue-bg: url("../public/assets/Faq\ tapes/blue\ thick.png");
    --accordion-header-yellow-bg: url("../public/assets/Faq\ tapes/yellow\ thick.png");
    --accordion-header-green-bg: url("../public/assets/Faq\ tapes/green\ thick.png");
    --accordion-panel-bg: url("../public/assets/natural-paper.png");
    
    /* Images for buttons */
    --button-blue-bg: url(../public/assets/button\ backgrounds/square_filled_blue.png);
    --button-pink-bg: url(../public/assets/button\ backgrounds/square_filled_pink.png);
    --button-red-bg: url(../public/assets/button\ backgrounds/square_filled_red.png);
    --button-yellow-bg: url(../public/assets/button\ backgrounds/square_filled_yellow.png);

    /* Images for team name backgrounds */
    --team-red-bg: url(../public/assets/redwashitape-2.png);
    --team-blue-bg: url(../public/assets/bluewashitape-2.png);
    --team-yellow-bg: url(../public/assets/yellowwashitape-2.png);
    --team-black-bg: url(../public/assets/blackwashitape-2.png);

    /* Font families */
    --p-font: "Montesserat";
    --nav-font: "Anon";
    --button-font: "Anon";

    --card-front-font: "Caveat";
    --card-caption-font: "Anon";
    --card-back-font: "Anon";
    --card-description-font: "Montesserat";

    --heading-font: "Caveat";
    --footer-font: "Montesserat";

    --landing-title-font: "Montesserat";
    --landing-subtitle-font: "Caveat";

    --faq-question-font: "Anon";
    --faq-answer-font: "Montesserat";

    --team-name-font: "Montesserat-Bold";
    --team-position-font: "Montesserat";

    --committee-title-font: "Caveat";
    --committee-member-font: "Montesserat";

    /* globals */
    --html-body-bg: var(--theme-offwhite);
    --globals-active-color: white;
    --globals-link-color: white;
    --globals-link-hover-color: white;

    /* Accordion module */
    --accordion-hover-color: #0070f3;

    /* Card module */
    --card-border-color: lightgray;
    --card-bg-color: white;

    /* Common module */
    --container-bg-color: var(--theme-offwhite);
    --footer-bg-color: var(--theme-offwhite);

    --title-color: var(--theme-black);
    --title-a-color: #0070f3;

    --code-color: #fafafa;
    --common-card-border-color: #eaeaea;
    --common-card-hover-color: #fff;
}