:root {
    /* main theme colors */
    --theme-red: #AB3030;
    --theme-blue: #1A6C82;
    --theme-yellow: #FCD369;
    --theme-offwhite: #ECE4D4;
    --theme-black: #2F3132;
    --phage-color: #9CC8C0;

    /* globals */
    --html-body-bg: var(--theme-offwhite);
    --globals-active-color: white;
    --globals-link-color: white;
    --globals-link-hover-color: white;

    /* accordion module */
    --accordion-hover-color: #0070f3;

    /* card module */
    --card-border-color: lightgray;
    --card-bg-color: white;

    /* common module */
    --container-bg-color: var(--theme-offwhite);
    --footer-bg-color: var(--theme-offwhite);

    --title-color: white;
    --title-a-color: #0070f3;

    --code-color: #fafafa;
    --common-card-border-color: #eaeaea;
    --common-card-hover-color: #0070f3;

    /* nav module */
    --nav-home-color: var(--theme-blue);
    --nav-home-text-color: var(--theme-offwhite);

    --nav-winners-color: var(--theme-yellow);
    --nav-winners-text-color: var(--theme-black);

    --nav-faq-color: var(--theme-red);
    --nav-faq-text-color: var(--theme-offwhite);

    --nav-help-color: var(--theme-offwhite);
    --nav-help-text-color: var(--theme-black);

    --nav-sponsors-color: var(--theme-black);
    --nav-sponsors-text-color: var(--theme-offwhite);

    /* hero module */
    --hero-top-color: var(--nav-home-color);
    --hero-bottom-color: var(--theme-red);
    --hero-texture: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");

    /* past winners module */
    --past-winners-bg-color: var(--nav-winners-color);
    --past-winners-texture: url("https://www.transparenttextures.com/patterns/az-subtle.png");

    /* faq module */
    --faq-bg-color: var(--nav-faq-color);
    --faq-texture: url("https://www.transparenttextures.com/patterns/clean-textile.png");

    /* volunteer module */
    --volunteer-bg-color: var(--nav-help-color);
    --volunteer-texture: url("https://www.transparenttextures.com/patterns/groovepaper.png");

    /* sponsors module */
    --sponsors-bg-color: var(--nav-sponsors-color);
    --sponsors-texture: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
}