:root {
    /* main theme colors */
    --theme-red: #AB3030;
    --theme-red-dark: #2e0000;
    --theme-blue: #1A6C82;
    --theme-blue-dark: #071b30;
    --theme-yellow: #FCD369;
    --theme-yellow-dark: #9e5c05;
    --theme-offwhite: #ECE4D4;
    --theme-black: #2F3132;
    --phage-color: #9CC8C0;
    --theme-beige: #f1d2ab;
    --theme-beige-light: #deb88a;

    /* background images */
    --nav-bg: url(../public/assets/wrinkled.png);
    --container-bg: url("../public/assets/light-paper-fibers.png");
    --footer-bg: url("../public/assets/light-paper-fibers.png");
    --landing-bg: url("../public/assets/3.png");
    --faq-bg: url("../public/assets/9.png");
    --volunteer-bg: url("../public/assets/12.png");

    --accordion-header-red-bg: url("../public/assets/Faq\ tapes/red\ thick.png");
    --accordion-header-blue-bg: url("../public/assets/Faq\ tapes/blue\ thick.png");
    --accordion-header-yellow-bg: url("../public/assets/Faq\ tapes/yellow\ thick.png");
    --accordion-panel-bg: url("../public/assets/natural-paper.png");
    
    --button-blue-bg: url(../public/assets/button\ backgrounds/square_filled_blue.png);
    --button-pink-bg: url(../public/assets/button\ backgrounds/square_filled_pink.png);
    --button-red-bg: url(../public/assets/button\ backgrounds/square_filled_red.png);
    --button-yellow-bg: url(../public/assets/button\ backgrounds/square_filled_yellow.png);

    /* font families */
    --p-font: "Montesserat";
    --nav-font: "Anon";
    --button-font: "Anon";
    --heading-font: "Caveat";
    --footer-font: "Montesserat";
    --landing-title-font: "Montesserat";
    --landing-subtitle-font: "Caveat";
    --faq-question-font: "Anon";
    --faq-answer-font: "Montesserat";

    /* globals */
    --html-body-bg: var(--theme-offwhite);
    --globals-active-color: white;
    --globals-link-color: white;
    --globals-link-hover-color: white;

    /* accordion module */
    --accordion-hover-color: #0070f3;

    /* card module */
    --card-border-color: lightgray;
    --card-bg-color: white;

    /* common module */
    --container-bg-color: var(--theme-offwhite);
    --footer-bg-color: var(--theme-offwhite);

    --title-color: white;
    --title-a-color: #0070f3;

    --code-color: #fafafa;
    --common-card-border-color: #eaeaea;
    --common-card-hover-color: #fff;
}