/* CSS for Volunteer section */
.main {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 10rem;
  background-image: var(--volunteer-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 0 20px;
}

.images {
  display: none;
  width: 700px;
  height: 700px;
}

.text {
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center !important;
}

.grid {
  flex-direction: column;
}

.card {
  align-self: center;
  margin: 0 0.5rem;
  height: 6rem;
  width: 15rem;
  line-height: 6rem;
}

.card h3 {
  font-size: 1.1rem;
  color: var(--theme-button-text);
}

.card:nth-of-type(1) h3 {
  color: var(--theme-offwhite);
}

.card:nth-of-type(1) {
  background-image: var(--button-blue-bg);
}

.card:nth-of-type(2) {
  background-image: var(--button-yellow-bg);
  color: var(--theme-yellow-dark);
}

/* For responsive layouts */
@media (min-width: 370px) {
  .card {
    height: 7rem;
    width: 15rem;
    line-height: 7rem;
  }
  .card h3 {
    font-size: 1.2rem;
  }
}

@media (min-width: 420px) {
  .card {
    height: 10rem;
    width: 20rem;
    line-height: 10rem;
  }
  .card h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 640px) {
  .grid {
    flex-direction: row;
  }
  .card {
    height: 7rem;
    width: 15rem;
    line-height: 7rem;
  }
  .card h3 {
    font-size: 1.3rem;
  }
}

@media (min-width: 720px) {
  .images{
    display: flex;
  }
  .card {
    height: 10rem;
    width: 20rem;
    line-height: 10rem;
  }
  .card h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    margin-bottom: 30px;
  }
  .description {
    margin-bottom: 30px;
  }
  .grid {
    flex-direction: column;
  }
  .card {
    height: 10rem;
    width: 20rem;
    line-height: 10rem;
  }
  .card h3 {
    font-size: 1.3rem;
  }
}

@media (min-width: 1280px) {
  .main {
    background-position: right 50% top 10%;
  }
  .title {
    margin-bottom: 50px;
  }
  .description {
    margin-bottom: 50px;
  }
  .grid {
    flex-direction: row;
  }
  .card {
    height: 12rem;
    width: 20rem;
    line-height: 12rem;
  }
}

@media (min-width: 1440px) {
  .card {
    height: 10rem;
    width: 25rem;
    line-height: 10rem;
  }
  .card h3 {
    font-size: 1.5rem;
  }
}