/* Theme Colors (Ctrl+F to find and replace)
    Main background - #f56991
*/

.main {
    position: relative;
    z-index: 0;
    min-height: 100vh;
    margin: 0;
    padding: 10rem 5rem 0rem 5rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .main::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: -50rem; /* Arbritrary large value to fill width of screen */
    bottom: 0;
    width: 400%; /* Arbritrary large value to fill width of screen */
    height: 100%;
    background-color: #f56991;
    background-image: url("https://www.transparenttextures.com/patterns/groovepaper.png");
    transform-origin: center;
    transform: skewY(3deg);
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.4);
  }